@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    

.titulo{
    font-family: 'Cinzel Decorative';
    color: #fff;
    font-size: 80px;
    margin-bottom: 15px;
}

.subtitulo{
    font-family: 'Cinzel Decorative';
    color: #fff;
    font-size: 60px;
    margin-bottom: 35px;
    margin-top: 150px;
}


h1, h2, h3, p {
    font-family: 'ED Garamond';
    color: white;

}

main{
    width: 100%;
    height: calc(100dvh - 120px);
    display: flex;
    margin-top: 60px;
    padding-bottom: 0px;
    overflow-y: auto;
}

p{ 
    font-size: 15px;
    text-align: justify;
}

