body{
    background-image: url("../assets/imagens/Background\ 2.jpg");
}
main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.sinopsetxt {
    
    color: #fff;
    font-size: 22px;
    width: 50%;
    line-height: 130%;
}

.sinopsetxt p {
    font-size: 22px;
    font-family: 'EB Garamond';
}

