body{
    background-image: url("../assets/imagens/Zaun\ 2.jpg");
}
main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

h1{
    font-family: 'Secular One';
    color: #fff;
    font-size: 70px;
}

.ztxt {
    color: #fff;
    font-size: 22px;
    width: 50%;
    line-height: 130%;
    margin-top: 30px;
}