/* Configurações globais */
body {
    font-family: Arial;
    color: white;
    background-image: url(../Imagens/wallpaperflare.com_wallpaper3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

nav {
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #8aa8c8;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff4500;
}

h1 {
    color: #8aa8c8;
    font-size: 40px;
    margin: 20px 0;
}

h2 {
    color: #ff4500;
    font-size: 30px;
    margin: 20px 0;
}

.descricao {
    color: #8aa8c8;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}

.titulo-info {
    color: #ff4500;
    margin-bottom: 100px;
    margin-top: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.detalhes {
    color: #ff4500;
    line-height: 1.5;
    margin-left: 20px;
}

.valor {
    color: #8aa8c8;
}

.personagens{
    text-align: center;
}

p {
    font-size: 1.2em;
    
    line-height: 1.5;
    margin-bottom: 50px;
}

#imgpersonagem{

    width: 250px;
}

#Personagemtxt{

    color: #8aa8c8;
}

#Descriçãotxt{

    font-size: 20px;
}

#TituloPersonagem{

color: #8aa8c8;

}